.GameOptions {
  margin: 0 auto;
  width: 60%;

  display: flex;
  justify-content: space-between;
}

.btn,
.field-size {
  padding: 10px 20px;
  font-size: 20px;

  background: white;
  outline: none;
  border: 1px solid black;
  border-radius: 15%;

  transition: all .5s;
}

.btn:hover {
  cursor: pointer;
  opacity: .7;
}

.btn:active {
  cursor: pointer;
  opacity: .3;
}

.btn:disabled {
  opacity: .3;
}