.app {
  margin: 0 auto;
  width: 300px;
}

.game {
  margin: 0 auto;
  margin-top: 30px;

  width: 270px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}